
.form--account__info{
    border-radius: 12px;
    background: #ededed;
    box-shadow:  10px 10px 25px #c9c9c9,
    -10px -10px 25px #ffffff;
    padding: 30px;
    width: 100%;
}
.form__container--account__info{
    min-height: max-content;
    margin-top: 100px;
}