.commentSection{
    background-color: whitesmoke;
    z-index: 9999;
    height: 70%;
    max-width: 350px;
    overflow: hidden;
     overflow-y: auto;
     white-space: pre-line;
     display: flex;
     flex-direction: column; 
}

.commentSection h2{
    padding-bottom: 20px;
    font-weight: bold;
}
.ProfileUserComment{
    display: flex;
    align-items:center;
    padding-left: 15px;
}
.ProfileUserComment img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #FB4B4E;
    overflow: hidden;
}
.NameProfileComment{
    font-size: 14px;
    padding-left: 15px;
    color: black;
    font-weight: bold;
}
.NameProfileComment:hover{
    color: #FB4B4E;
    cursor: pointer;
}
.commentSection li{
    border: 1px aliceblue;
    margin-bottom: 8px;
}
.message{
    padding-top: 2px;
    padding-left: 60px;
    padding-right: 25px;
    word-wrap: break-word;
}
.commentBar{
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
    padding: 10px 0;
    margin-top: auto;
    max-width: 350px;
    
}
.commentText {
    padding: 8px;
    border: none;
    border-radius: 20px;
    outline: none;
    margin-right: 10px;
    width: 100%;
}
.commentBar button {
    background-color: #FB4B4E;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 16px; 
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
    width: auto; 
    margin-right: 10px;
    font-size: smaller;
}

.commentSection h2{
    padding-top: 13px;
    padding-left: 8px;
}

@media screen and (max-width: 600px) {
    .commentBar button {
        max-width: 10px; 
        margin: 0 auto;
        font-size: small;
    }
}
@media screen and (max-width: 600px) {
    .commentText {
        width: calc(100% - 20px);
    }
}
@media screen and (max-width: 600px) {
    .commentBar button {
        max-width: 10px;
        margin: 0 auto;
        font-size: small;
    }
.commentText {
    width: calc(100% - 20px);
}
}
@media screen and (max-width: 600px) {
    .commentSection{
        min-width: 410px;
    }
    
}